// COLOR
$logoColor: #fa6980;
$titleColor: #202124;
$txtColor: #a6adb4;
$bgColor: #f6f8f9;
$bgFooter: #a6adb4;
$navColor: #343638;
$white: #fff;

// FONTSIZE
$nomalSize: 16px;

// FONT FAMILY
$font1: 'Montserrat', sans-serif;
$font2: 'Roboto', sans-serif;