.news-happening {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 6;
  grid-template-columns: 66.67% 33.33%;
}

.item {
  padding: 0.8em 0;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  padding-right: 0.8em;
}

.item2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 7;
  padding-right: 0.8em;
}

.item3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-left: 0.8em;
}

.item4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  padding-left: 0.8em;
}

.item5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
  padding-left: 0.8em;
}

@media (max-width: 600px) {
  .news-happening {
    display: block;
  }
}