@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
@import '../node_modules/bootstrap/scss/bootstrap';
@import './constants/theme';

#root {
  min-height: 100vh;
  align-items: initial;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: $bgColor;
  font-family: $font2;
  font-size: $nomalSize;
}



a, a:hover, a:active, a:focus, a:visited {
  text-decoration: none;
}

button.btn:focus,
input, input:focus,
input.form-control:focus,
.custom-select:focus {
  box-shadow: none;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}